@import '../../styles/variables';

.dropdown {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  button {
    padding: 5px 10px;
    margin: 0 0 2px 5px;
    float: right;
    border: none;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    appearance: none;
  }

  label {
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .check {
    margin-left: 5px
  }
}
