@import '../../styles/variables';

.dropdown {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  button {
    border: none;
    padding: 5px 10px;
    margin: 0 0 2px 5px;
    float: right;
    color: $white;
    background-color: $blue;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label {
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  &.hidden {
    display: none;
  }
}
