@import '../../styles/variables';

.infoTable {
  border-spacing: 10px;
  table-layout: fixed;
  width: 100%;
}

.descTitle {
  font-weight: bold;
  text-align: right;
  width: 20%;
  vertical-align: baseline;
}

.desc {
  padding-left: 15px;
  font-style: italic;
  overflow-wrap: break-word;
  white-space: normal;

  .externalLink {
    color: $blue;
    margin-left: 8px;
  }

  .externalLink:hover, .externalLink:focus {
    color: darken($blue, 10%);
  }
}

.defaultTextButton {
    padding: 5px 10px;
    margin: 0 0 2px 5px;
    float: right;
    font-size: 0.8em;
}

.commentsForm {
  margin-top: 15px;

  > div > label {
    font-weight: bold;
  }
}

.footer {
  float: right;
}

.comments {
  margin-bottom: 10px;
  width: 100%;
  min-height: 85px;
  resize: vertical;
  background-color: $gray-lighter;
  border: none;
}

