@import '../../../styles/variables';

.fieldContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  > * {
    width: 50%;
    flex: 0 0 30%;
  }
}

.field {
  margin-right: 2em;
  display: flex;
  align-items: flex-start;
  > b {
    margin-right: 0.5em;
  }
}

.sectionContainer {
  display: flex;
}

.sectionIconContainer {
  display: inline-flex;
  align-items: center;
  flex-basis: 0;
  padding: 0.2em;
  border-right: 0.1em solid $white;
  width: 10%;
}

.icon {
  font-size: 2em;
}
