@import 'variables';

.expanded {
  min-width: 400px;
  z-index: 1;

  .expandedNode {
    color: $black;
  }

  .nodeTitle {
    position: absolute;
    top: 0px;
    height: $collapsedNodeHeight;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.nodeTitle {
  padding: 1em;
  /* use the entire width of its parent 
     so we can align something to the right */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconAndLabel {
  flex-grow: 1;
  text-align: center;
}

.statusIcon {
  margin-left: auto;
  padding-left: 10px;
}