@import 'variables';

.expanded {
  min-width: 400px;

  .expandedNode {
    color: $black;
  }

  .nodeTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: $collapsedNodeHeight;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.nodeTitle {
  padding: 15px;
  /* use the entire width of its parent
     so we can align something to the right */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clickable {
  cursor: pointer;
}

.iconAndLabel {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusIcon {
  margin: 0;
  padding-left: 20px;
}
