@import 'variables';

.expanded {
  min-width: 400px;
  z-index: 1;

  .expandedNode {
    color: $black;
  }

  .nodeTitle {
    position: absolute;
    top: 0px;
    height: $collapsedNodeHeight;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nodeTitle {
  padding: 15px;
}
