//-------------------------- Colors -----------------------------------------//
$white: #fff;
$black: #000;
$blue: #5d89a1;
$red: #d95d77;
$gray: #4a4a4a;
$gray-medium: #959697;
$gray-lighter: #eaeef2;

//-------------------------- Spacing -----------------------------------------//
$collapsedNodeHeight: 50px;