//-------------------------- Colors -----------------------------------------//
$white: #fff;
$black: #000;
$blue: #5d89a1;
$red: #d95d77;
$gray: #4a4a4a;
$gray-medium: #bbbdc0;
$gray-lighter: #eaeef2;
$green: #2fa874;

$black-hover: lighten($black, 14%);
$green-hover: lighten($green, 7%);

//-------------------------- Spacing -----------------------------------------//
$collapsedNodeHeight: 50px;
