@import '../../styles/variables';

.triggerContainer {
  display: inline-block;
}

.withConfirmationPopup.withConfirmationPopup {
  padding: 0.5em;
}

.popupContent {
  display: flex;
  > :first-child {
    margin-right: 4em;
    white-space: nowrap;
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.selectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5em;
  min-height: 2em;
  cursor:pointer;
  border-radius: 15%;
  font-weight: 800;
  margin-right: 0.5em;
}

.check {
  @extend .selectButton;
  background: $green;
}

.times {
  @extend .selectButton;
  background: $black;
}
