@import '../../styles/variables';

.infoTable {
  border-spacing: 10px;
}

.descTitle {
  font-weight: bold;
  text-align: right;
}

.desc {
  padding-left: 15px;
  font-style: italic;
}

.commentsForm {
  margin-top: 15px;
}

.commentsForm {
  label {
    font-weight: bold;
  }

  button {
    border: none;
    padding: 5px 10px;
    margin: 0 0 2px 5px;
    float: right;
    color: $white;
    background-color: $blue;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .acceptButton {
    font-size: 18px;
    min-width: 120px;
    padding: 10px;
  }

  .declineButton {
    font-size: 18px;
    min-width: 120px;
    padding: 10px;
    color: $red;
    background-color: $white;
  }
}

.comments {
  margin-bottom: 10px;
  width: 100%;
  min-height: 85px;
  resize: vertical;
  background-color: $gray-lighter;
  border: none;
}


.externalLink {
  color: $blue;
  margin-left: 8px;
}