@import '../../styles/variables';

.node {
  position: absolute;
  width: auto;
  min-width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: 5px;
}

.onPatientPath {
  background-color: #79b9b9;
}

.notOnPatientPath {
  background-color: #9b9b9b;
}

.icon {
  padding-right: 5px;
}
