@import '../../styles/variables';

.selectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.25em;
  min-height: 2em;
  cursor:pointer;
  border-radius: 15%;
  font-weight: 800;
  margin-right: 0.5em;
}

.accept {
  @extend .selectButton;
  background: $green;
  &:hover{
    background: $green-hover;
  }
}

.decline {
  @extend .selectButton;
  background: $black;
  &:hover{
    background: $black-hover;
  }
}
